@import "./src/styles";  

.row {
    padding-bottom: 4px;
}

.col {
    text-align: center;
    padding: 0px;
    border-bottom: 4px solid white;
    border-top: 4px solid white !important;

}

.col.reached {
    background-color: $accent;
    border-top: 4px solid $accent !important;
    border-bottom: 4px solid $primary !important;
}