<div class="row" [class.isMobile]="isMobile">
  <mat-vertical-stepper class="col stepper" style="padding: 0;">
    <mat-step>
      <p class="h3">Passwort zurücksetzen</p>
      <form [formGroup]="resetPasswordRequestForm" (ngSubmit)="sendRequest()">
        <div id="accordion" class="mat-accordion-div">
          <mat-accordion class="col">
            <mat-expansion-panel [expanded]="true" [disabled]="true" hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <span style="margin: auto;"><b>E-Mail Adresse eingeben</b></span>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <mat-form-field appearance="outline">
                <mat-label>Email-Adresse</mat-label>
                <input matInput
                       type="email"
                       id="email"
                       class="form-control"
                       formControlName="email"
                       email>
              </mat-form-field>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
        <p *ngIf="!this.isError"  class="text-success">{{successMessage}}</p><br>
        <p *ngIf="this.isError" class="text-danger" style="margin-bottom: 2rem;">{{errorMessage}}</p><br>
        <div class="button-area row">
          <div class="col-lg-2"></div>
          <div class="col"></div>
          <button mat-flat-button [disabled]="resetPasswordRequestForm.invalid" class="col" color="primary" type="submit"
                  matStepperNext>
            <span class="icon-text-button">weiter</span>
            <span class="fas fa-sign-in"></span>
          </button>
        </div>
        <div class="text-right mt-2">
          <a routerLink="/login">Zurück zur Anmeldung!</a>
        </div>
      </form>
    </mat-step>
  </mat-vertical-stepper>
</div>
