@import "././src/styles";

.profile-card {
  padding: 10px;
  box-shadow: 0 10px 20px
  rgba(0,0,0,0.19), 1px 6px 6px
  rgba(0,0,0,0.23) !important;
}

.profile-details-card {
  padding: 10px 10px 10px 10px;
  margin-top: 30px;
  background-color: #fefefe;
}
.profile-details-card-isMobile {
  padding: 10px 20px 10px 10px;
}
.mat-card-footer{
  max-width: 10px;
}
.col,.col-11{
  padding-right: 0;
  padding-left: 20px;
}
.name {
  font-size: 15px;
  color: #3f51b5;
}

.name-detail {
  padding: 10px 10px 10px 0;
}
.icon-font {
  font-size: 12px;
  width: 12px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  padding-top: 5px;
}
mat-chip-list{
  //margin-top: 15px;
}
mat-chip{
  min-width: 75px;
  text-align: center;
  display:table-cell;
  vertical-align:middle;
}
.edit-icon{
  margin-left: -12px;
}
