<mat-spinner *ngIf="isSpinner"></mat-spinner>

<div *ngIf="jobDetails" [class.isMobile]="isMobile">
  <mat-card class="mb-2">
    <mat-card-header>
      <mat-card-title>
        <h2>{{jobDetails.external_title}}</h2>
        <!-- <h2>{{jobDetails.title}}</h2> -->
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row mt-3">
        <div class="col mt-2 ml-3">
          <p>
            <i class="fa fa-map-marker-alt fa-lg" style="color: gray"></i>
            <span class="ml-1">{{jobDetails.city}}</span>
          </p>
        </div>
        <div class="{{isMobile == true ? 'col-6' :' col-3'}}">
          <button mat-button routerLink="/register" class="mr-4 w-100"
            style="background-color: #1d8552; color:white;">Jetzt bewerben
          </button>
        </div>
      </div>
      <div class="mt-5">
        <h6 class="text-center">Du bist LKW Fahrer (m/w/d) und hast Lust auf was Neues?<br>
          Dann bist du bei uns genau richtig!</h6>
        <p class="text-center" style="font-size: 16px;">Wir suchen ab sofort einen Fahrer/ LKW-Fahrer (m/w/d) in
          {{jobDetails.city}} und Umgebung
          für den {{getTours(jobDetails?.tours)}}</p>
      </div>
      <div>
        <h6 class="text-center"><i class="fa fa-check fa-rotate-15 mx-1" aria-hidden="true"></i>
          <span>Bewirb dich in 2 Minuten ganz ohne Unterlagen</span>
        </h6>
      </div>
      <!-- This is what awaits you-->
      <div class="mt-5">
        <div class="row">
          <div class="col">
            <h5>Das erwartet Dich:</h5>
          </div>
        </div>
        <div class="row">
          <ul>
            <li class="my-2">Eine verantwortungsvolle Tätigkeit als LKW-Fahrer in {{jobDetails.city}}
              im {{getTours(jobDetails?.tours)}}
              mit einem {{getVehicleTypeExperience(jobDetails?.vehicle_experience)}}</li>
            <li class="my-2">Du hast feste Arbeitszeiten ({{getShifts(jobDetails?.shift)}})</li>
            <li class="my-2">Ein nettes Team, das sich gegenseitig unterstützt</li>
            <li class="my-2">Ein fairer Arbeitgeber und gute Bezahlung</li>
          </ul>
        </div>
      </div>
      <!-- You should bring that with you-->
      <div>
        <div class="row mt-2">
          <div class="col">
            <h5>Das solltest du mitbringen:</h5>
          </div>
        </div>
        <div class="row">
          <ul>
            <li class="my-2">Du besitzt einen Führerschein der Klasse {{jobDetails?.license}}</li>
            <li class="my-2">Du verfügst über {{germanLanSkill}} der deutschen Sprache für den Kundenkontakt</li>
            <li class="my-2">Du zeichnest dich durch eine effiziente, termingerechte und freundliche Kundenbelieferung
              aus</li>
          </ul>
        </div>
      </div>

      <!-- Ideally you have that too-->
      <div>
        <div class="row mt-2">
          <div class="col">
            <h5>Idealerweise hast du das auch:</h5>
          </div>
        </div>
        <div class="row">
          <ul>
            <li class="my-2" *ngIf="jobDetails?.additional_license[0] != 'No driver licence' &&
            jobDetails?.additional_license[0] != 'NO_LICENSE' &&
             jobDetails?.additional_license.length > 0">
              Einen {{getAdditionalLicense(jobDetails?.additional_license)}}</li>
            <li class="my-2" *ngIf="jobDetails?.work_experience > 0">Berufserfahrung von mindestens
              {{jobDetails?.work_experience}}
              Jahren
            </li>
            <li class="my-2">Erfahrung auf folgendem Fahrzeugtyp:
              {{getVehicleTypeExperience(jobDetails?.vehicle_experience)}}</li>
          </ul>
        </div>
      </div>

      <!-- You transport that-->
      <div>
        <div class="row mt-2" *ngIf="jobDetails?.being_transported">
          <div class="col">
            <h5>Das transportierst du:</h5><span [innerHtml]="jobDetails?.being_transported"
              style="white-space: pre-line; font-size: 16px !important;"></span>
          </div>
        </div>
      </div>

      <!-- What else is important to us-->
      <div>
        <div class="row mt-3" *ngIf="jobDetails?.specific_tasks">
          <div class="col">
            <h5>Was ist uns sonst noch wichtig:</h5><span [innerHtml]="jobDetails?.specific_tasks"
              style="white-space: pre-line; font-size: 16px !important;">
            </span>
          </div>
        </div>
      </div>

      <!-- We offer you -->
      <div>
        <div class="row mt-3" *ngIf="jobDetails?.benefit">
          <div class="col">
            <h5>Das bieten wir dir:</h5>
            <mat-chip-list>
              <div *ngFor="let benefit of jobDetails?.benefit.split(',')">
                <mat-chip>{{benefit}}</mat-chip>
              </div>
            </mat-chip-list>
          </div>
        </div>
      </div>
      <br>
      <p style="font-size: 16px;">Die Stelle passt perfekt zu dir? Dann bewirb dich jetzt über JobPortal!</p>

    </mat-card-content>
    <mat-card-actions *ngIf="!isMobile" class="{{isMobile == true ? 'text-center buttomSpace' :' text-center sticky'}}">
      <button mat-button routerLink="/register" class="w-50" style="background-color: #1d8552; color:white;">Jetzt
        bewerben
      </button>
    </mat-card-actions>
    <br />
    <mat-card-actions
      style="position: fixed;bottom: 0 !important;background: transparent !important;padding-left: 25%;box-shadow: 0 0 30px #FFFFFF !important;"
      *ngIf="isMobile" class="{{isMobile == true ? 'text-center buttomSpace ' :' '}}">
      <button mat-button routerLink="/register" class="w-50"
        style="background-color: #1d8552; color:white;width: 100% !important;padding: 0px ​30px 0px 30px;">
        &nbsp;&nbsp;&nbsp;&nbsp; Jetzt bewerben &nbsp;&nbsp;&nbsp;&nbsp;
      </button>
    </mat-card-actions>

  </mat-card>
</div>



<div class="application-details" *ngIf="!jobDetails">
  <div class="mt-3 mx-2 mt-5">
    <div class="col  mt-5 text-center">

      <h4>Die Stellenanzeige ist nicht mehr verfügbar.</h4>

    </div>
  </div>
  <br />
</div>