@import "../../../styles";

:host ::ng-deep .mat-form-field {
    width: 100%;
    min-height: 68px;
}

:host ::ng-deep mat-vertical-stepper {
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    .mat-step {
        box-shadow: 0px;
        background: transparent;
    }
    .question-content {
        margin: 40px 0px;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
    }
    .button-area {
        //width: 50% !important;
        button {
            line-height: 48px;
        }
    }
}

.mat-progress-bar {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  width: auto;
  margin-top: -12px;
}

:host :host-context ::ng-deep .isMobile{
    mat-step-header {
        padding: 0px;
    }
    .mat-vertical-content-container {
        margin-left: 22px;
    }
}

:host ::ng-deep p.h3 {
    text-align: center;
}

:host ::ng-deep .row {
    justify-content: center !important;
    .col.main-content {
        max-width: 1000px !important;
    }
}

:host ::ng-deep .button-area {
    margin: 20px 0px 0px 0px;
    text-align:right;
}

p {
  text-align: center !important;
}

:host ::ng-deep mat-form-field {
    margin: 0.5em 0;
}

/*
Begin of radio button
*/

//Padding for all cols
:host ::ng-deep mat-radio-group.row > div {
    padding: 8px;
}

:host ::ng-deep input::-webkit-outer-spin-button.no-controls, input::-webkit-inner-spin-button.no-controls {
  -webkit-appearance: none;
  margin: 0;
}

:host ::ng-deep input[type=number].no-controls {
  -moz-appearance: textfield;
}

// Style for radio button
:host ::ng-deep mat-radio-button {
    display: block;
    position: relative;
    border-radius: 4px;  // Ecke des Buttons abrunden
    width: 100%;
    margin: 0px 0px;  // keine Margins des radio Buttons
    //box-shadow: 0 2px 1px -1px #3f51b5, 0 1px 1px 0 #3f51b5, 0 1px 3px 0 #3f51b5; // Schatteneffekt
    border-style: solid;
    border-color: $primary;
    border-width: 1px;
    line-height: 48px;
    transition: all 500ms; //Button wird langsam blau
    .mat-radio-container {
        text-align: right; // Radio BUtton am rechten Rand
    }
    label.mat-radio-label { // label. gilt nur für Label-Elemente
        text-align: left;
        margin: auto 3px;
        width: 100%; // damit der Text einheitlich und radio Button ganz rechts sitzt
        padding-left: 15px;
        padding-right: 15px;
    }
    .mat-radio-label-content {
        width: 100%;
    }
}

// Active style
:host ::ng-deep mat-radio-button.mat-radio-checked {
    background: $primary;
    label {
        color:white;
    }
}

// Hover effect
:host ::ng-deep div:not(.isMobile) mat-radio-button:hover:not(.mat-radio-checked) { // hover.not damit bie bereits ausgewähltem Button, kein Hover
    background: $accent;
}

/*
End of radio button
*/


/*
Begin of checkbox
*/

//Padding for all cols
:host ::ng-deep .mat-check-group.row > div {
    padding: 8px;
}

// Style for checkbox
:host ::ng-deep mat-checkbox {
    display: block;
    position: relative;
    border-radius: 4px;
    width: 100%;
    margin: 0px 0px;
    //box-shadow: 0 2px 1px -1px #3f51b5, 0 1px 1px 0 #3f51b5, 0 1px 3px 0 #3f51b5;
    border-style: solid;
    border-color: $primary;
    border-width: 1px;
    transition: all 500ms;
   white-space: pre-wrap;
    .mat-radio-container {
        text-align: right;
        line-height: 48px;
    }
    label.mat-checkbox-layout {
      white-space: pre-wrap;
      text-align: left;
      margin: auto 3px;
      width: 100%;
      padding-left: 15px;
      padding-right: 15px;

      .mat-checkbox-label {
        width: 100%;
        line-height: 48px;
      }
    }
}

// Active style
:host ::ng-deep mat-checkbox.mat-checkbox-checked {
    background: $primary;
    label {
        color:white;
    }
}

// Hover effect
:host ::ng-deep div:not(.isMobile) mat-checkbox:hover:not(.mat-checkbox-checked) {
    background: $accent;
}


/*
End of checkbox
*/

:host ::ng-deep mat-step-header,
:host ::ng-deep .mat-vertical-content-container::before {
    display: none;
}

:host ::ng-deep .mat-vertical-content {
    padding:36px;
}

:host ::ng-deep .mat-vertical-content-container {
    margin: 0px;
}

:host ::ng-deep .mat-accordion ::after ,.mat-accordion ::before, .mat-accordion *  {
    -webkit-box-sizing: content-box !important;
    -moz-box-sizing: content-box !important;
    box-sizing: content-box !important;
    box-shadow: 0px;
}

:host ::ng-deep .mat-expansion-panel {
    box-shadow: 0 0 0 0 !important;
    background-color: #efefef;
    border-width: 1px !important;
    border-color: #aaaaaa !important;
    border: solid;
    .mat-expansion-panel-body {
        background: white;
    }
}

.fa-google {
  background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

h5 {
  overflow: hidden;
  text-align: center;
  color: gray;
}
h5:before,
h5:after {
  background-color: gray;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}
h5:before {
  right: 0.5em;
  margin-left: -50%;
}
h5:after {
  left: 0.5em;
  margin-right: -50%;
}
.form-control:focus {
    box-shadow: none;
    // box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
  }
  .mobileProgressBar {
    margin-bottom: 30px !important;
}